
/*Custom Class*/
.navbar {
    @apply sm:px-8;
}

div.admin-menu > a {
  @apply text-sm py-2 px-3 rounded hover:bg-slate-700 active:bg-slate-900 font-medium;
}

div.admin-menu > a.active {
  @apply hover:bg-gray-900 bg-gray-900;
}

.card-title {
  @apply font-inter;
}

.title {
  @apply font-bold text-xl sm:text-2xl md:text-3xl font-inter;
}

.admin .nav-link,
.teacher .nav-link,
.student .nav-link {
  @apply transition-all text-sm flex hover:bg-[#181827] text-[#a2a3b7] hover:text-white py-3 w-full;
}

.admin .nav-link .icon,
.teacher .nav-link .icon,
.student .nav-link .icon {
  @apply inline-flex justify-center items-center w-12 h-5 flex-none ;
}


.Prose {
  @apply text-gray-600;
}

.Prose  blockquote {
  @apply py-1 border-l-2 border-gray-300 pl-3;
}

.Prose h1 {
  @apply text-3xl font-bold text-gray-900;
}

.Prose h2 {
  @apply text-2xl font-bold text-gray-800;
}

.Prose h3 {
  @apply text-xl font-semibold text-gray-700;
}

.Prose h4 {
  @apply text-lg font-medium text-gray-600;
}

.Prose ul > li {
  @apply list-disc ml-3;
}

.Prose ol > li {
  @apply list-decimal ml-3;
}

.Prose pre {
    font-family: monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
  }

.Prose pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}


.content-container {
  @apply p-8;
}

.dropdown.dropdown-close .dropdown-content {
  visibility:hidden !important;
  opacity:0 !important;
}


.fb-modal {
  @apply overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full;
  @apply bg-black/30 justify-center items-center;
}

.fb-modal .fb-modal-container{
  @apply relative p-4 w-full max-w-md h-full md:h-auto;
}

.fb-modal .fb-modal-content{
  @apply relative bg-white rounded-lg shadow dark:bg-gray-700;
}

.fb-modal .fb-modal-header{
  @apply flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600;
}

.fb-modal .fb-modal-header-title {
  @apply text-xl font-semibold text-gray-900 dark:text-white;
}

.fb-modal .fb-modal-body {
  @apply p-6;
}

.fb-modal .fb-modal-footer{
  @apply flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600;
}

/*Tailwind*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/*Defaults*/
* {
  scroll-behavior: smooth;
}

body {
    @apply min-h-screen bg-slate-100;
}

table tbody {
  @apply text-sm;
}

table td {
  vertical-align: top;
}

[x-cloak] {
  display: none;
}